{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="text-center form-signin w-100 m-auto">
  <form method="post">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <div class="form-floating">
    <input name="username" id="floatingInput" required class="form-control">
    <label for="username" id="floatingInput" class="form-label">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" id="floatingPassword" required class="form-control">
    <label for="password" id="floatingPassword" class="form-label">Password</label>
  </div>
    <input type="submit" value="Log In" class="w-100 btn btn-lg btn-primary">
  </form>
</main>
{% endblock %}